@keyframes unread-messages {
  0% {
    background-color: brown;
    border-color: brown;
  }
  50% {
    background-color: yellow;
    border-color: yellow;
  }
  100% {
    background-color: brown;
    border-color: brown;
  }
}
